@import 'variables';
@import 'mixins';
@import 'lib/libs';
@import 'common';

/* ---------- Base styles ---------- */
html {
  overflow-y: scroll;
}

body {
  font-family: $baseFontFamily;
  color: $grayColor;
  background-color: transparent;
  @mixin selection {
    color: white;
    background: $grayColor;
  }
}
ul{
  padding: 0;
  margin: 0;
}
#wrapper {
  padding: 0 5em 0;
  min-width: 960px;
}