/* ---------- Variables ---------- */
$grayColor: #333333;
$mediumGrayColor: #999999;
$lightGrayColor: #DBDBEA;
/*$inputBackgroundColor: #FAFAFA;*/
$inputBackgroundColor: #ECF0F1;
$rudeColor: #bf1e2d;
$yellowColor: #f0ad4e;
$backgroundColor: transparent;
$blueColor: #428bca;
$greenColor: #5cb85c;
$lightBlue: #5bc0de;
$greenPastelColor: #18BC9C;
$navyBlue: #33485d;
/*#d9534f; */
$baseFontFamily: Raleway, "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;